{% extends "layout.html" %}

{% block title %}
 All chai page
{% endblock %}

{% block content %}
    <h1>All type of chai</h1>

    <div class="grid grid-cols-3 gap-4 m-4">
        {% for chai in chais %}
        <div class="bg-blue-600 p-5 m-5">
            <img class="rounded" src="{{chai.image.url}}" alt="chai image" >
            <h3 class="" > {{chai.name}} </h3>
            <a href="{% url 'chai_detail' chai.id %}">

                <button type="button" 
                class="bg-red-500 m-5 p-2 rounded"
                >
                    {{chai.type}} -- {{chai.id}}
                </button>
            </a>
        </div>
        {% endfor %}       
    </div>
{% endblock %}

